.bodySpec {
    background-color: var(--lightGray);
}

.pokeTumbSpec {
    height: auto;
    display: block;
    background-color: var(--grassBg);
    padding: 0;
    border-radius: 64px;
}

.pokeTumbSpec:hover {
    animation: none;
    background-image: none;
    transform: none;
}

.pokeInfoSpec {
    width: 100%;
    height: 100%;
    position: relative;
    top: 70px;
    left: 50px;
}

.pokeInfoSpec div {}

.pokeIdSpec {
    font-size: 43px;
}

.pokeNameSpec {
    font-style: normal;
    font-weight: bold;
    font-size: 124px;
    line-height: 145px;
    letter-spacing: 0;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--darkWhite);
    text-transform: uppercase;
}

.pokeImageSpec {
    position: relative;
    top: 220px;
    left: 185px;
}

.spritesSpec {

    height: 360px;
}

.spritesSpec:hover {
    transform: none
}

.pokeShadowSpec {

    position: relative;
    top: 100px;
    width: 400px;

}

.dotsSpec {
    position: relative;
    top: 225px;
    left: 350px;
}



.pokeballBgSpec {
    background-size: 100%;
    position: relative;
    width: 170px;
    height: 172px;
    left: 285px;
    top: -140px;
    background-position: center;
    border-radius: 0px;
    background-image: url('/pokedex/assets/svg/smallPokeballBg.svg');
    opacity: 0.4;
}

.specContainer {
    width: 110%;
    height: auto;
    background-color: var(--darkWhite);
    border-radius: 64px;
    width: var(--size1);
    padding: 45px;
    color: var(--midGray);
    margin-top: 150px;
}



.textFlaivor {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 42px;
    line-height: 56px;
    letter-spacing: 0.025em;
    mix-blend-mode: normal;
    width: 100%;
    margin-top: 100px;
}

.line {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    height: 1px;
    background-color: var(--midGray);
}

.spec li {
    font-weight: 300;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 35px;
    text-transform: capitalize;
}

.spec li b {
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    margin-right: 10px;
}