@media (max-width: 1200px) {
  body {
    overflow: initial;
  }
  
  main {
    flex-direction: column;
  }
  .pokeTumb {
    width: 100%;
  }
  .specContainer {
    width: 100%;
  }
  .pokeName {
    font-size: 110px;
    -webkit-text-stroke-width: 1px;
  }
  .textFlaivor {
    margin-top: 10px;
  }
  .dots {
    width: 120px;
    height: 34px;
    background-size: 100%;
  }
  .tagsRow {
    margin-top: -34px;
  }
}

@media (max-width: 550px) {
  :root {
    --sizeTag: 18px;
    --borderRadius3: 6px;
  }
  .pokeName {
    font-size: 80px;
  }
  .pokeShadow {
    width: 300px;
  }
  .sprites {
    height: 320px;
  }
  .pokeImage {
    margin-top: 30px;
    margin-bottom: -50px;
  }
  .typeTag {
    font-size: 16px;
    padding: 8px;
    height: 28px;
    margin: 2px;
  }
  .specContainer {
    padding: 25px;
  }
  .textFlaivor {
    font-size: 22px;
    line-height: 32px;
  }
  .line {
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .spec li {
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 25px;
  }
  .spec li b {
    font-size: 22px;
    line-height: 32px;
    margin-right: 5px;
  }
}

@media (max-width: 480px) {
  .pokeName {
    font-size: 60px;
    -webkit-text-stroke-width: 0.5px;
  }
  .dots {
    width: 91px;
    height: 25px;
    background-size: 100%;
  }
  .tagsRow {
    margin-top: -25px;
  }
  .pokeShadow {
    width: 250px;
  }
  .sprites {
    height: 280px;
  }
}