body{

    background-color: var(--darkWhite);
}


main, header {
    width: 100%;
}



main {
    margin-top: 150px;
}

.container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

ul{

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}