.invisible {
    display: none;
}

.srcPreview {
    font-family: 'Roboto', sans-serif;
    margin-left: 100px;
    height: 64px;
    width:560px;
    background-color: #F0F0F0;
    font-size: 28px;
    box-shadow: 0px 15px 50px rgba(0, 0, 0, 0.15); 
    padding-top: 10px;
    box-sizing: border-box;
    color: var(--midGray);
    transition: background-color 1s ease-in-out;
    font-weight: 300;
    text-transform: uppercase;
    cursor: pointer;
}

.srcPreview p {
    text-align: left; 
}

.srcPreview:hover {
    color: var(--white);
    background-color: var(--midGray);
}

.preview {
    max-height:192px;
    overflow-y: scroll;
    border-bottom-left-radius:24px;
    border-bottom-right-radius:24px; 
}