.pokeTumb {
    width: var(--size1);
    height: 240px;
    background-color: var(--grassBg);
    margin: 0 auto 45px;
    padding: 45px;
    border-radius: 18px;
    display: flex;
    align-items: center;
    box-shadow: var(--shadow);
    transition: 2s;
    transition: transform 1s;
    pointer-events: all;
}

.pokeTumb:hover {
    animation: move-right-tumb 5s linear infinite;
    /* animation: move-right-tumb 0.5s ease-in-out; */
    background-image: linear-gradient(45deg, transparent 45%, rgba(255, 255, 255, 0.65) 45%, rgba(255, 255, 255, 0.1) 70%, transparent 70%);
    transform: scale(1.05);
}

@keyframes move-right-tumb {
    from {
        background-position: 0 0px;
    }
    to {
        background-position: var(--size1) 0px;
    }
}

.pokeInfo {
    width: 50%;
    height: 100%;
}

.pokeInfo div {
    display: flex;
}

.pokeId {
    font-size: 26px;
    font-weight: bolder;
    color: var(--lightDark);
}

.pokeName {
    font-size: 58px;
    color: var(--white);
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: capitalize;
}

.pokeImage {
    width: 50%;
    height: 100%;
}

.sprites {
    height: 264px;
    margin: -80px auto 0 25px;
    transition: 0.6s ease-in-out;
    position: relative;
    z-index: 1;
}

.pokeTumb:hover .sprites {
    transform: scale(1.08) rotate(5deg);
}

.pokeShadow {
    width: 270px;
    height: 40px;
    margin: 10px auto 0 20px;
    filter: blur(5px) brightness(0%) opacity(60%);
    transform: skew(-50deg) translate(-55px, -80px);
    transition: 0.6s ease-in-out;
}

.pokeTumb:hover .pokeShadow {
    opacity: 0.85;
}

.dots {
    width: 182px;
    height: 50px;
    margin-top: -20px;
    margin-left: 50px;
    background: url('/pokedex/assets/svg/dots.svg') no-repeat;
}

.pokeballBg {
    height: 240px;
    width: 340px;
    margin: -231px auto 0 -10px;
    border-radius: 18px;
    background-size:80% ;
    background-image: url('/pokedex/assets/svg/pokeballBg.svg');
    background-repeat: no-repeat;
    background-position: center right -40px;
}