:root {
    --size1: 820px;
    --size2: 985px;
    --white: #ffffff;
    --lightDark: rgba(0, 0, 0, 0.48);
}

* {
    font-family: 'Roboto', sans-serif;
}

main {
    width: 100%;
}

.srcContainer {
    width: var(--size2);
    margin: 0 auto;
}

#srcPoke {
    width: var(--size1);
    margin: 0 auto;
    border: 0px;
}

.pokeTumb {
    width: var(--size1);
    height: 280px;
    background-color: #7FB781;
    margin: 0 auto;
    padding: 45px;
    border-radius: 18px;
    display: flex;
    align-items: center;
    align-content: space-between;
    box-sizing: border-box;
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.25);
}

.pokeId {
    font-size: 32px;
    font-weight: bold;
    color: var(--lightDark);
}

.pokeName {
    font-size: 65px;
    color: var(--white);
    font-weight: bold;
}

.tagsRow {
    display: flex;
}

.typeTag {
    font-weight: medium;
    font-size: 28px;
    color: var(--white);
    padding: 10px;
    box-sizing: border-box;
    height: 64px;
    display: flex;
    align-items: center;
    margin: 4px;
    border-radius: 8px;
}

.typeTag svg {
    margin-right: 5px;
}

.pokeImage {
    position: relative;
}

.pokeImage img {
    height: 284px;
    position: relative;
    z-index: 2;
    top: -64px;
    left: 100px;
    /* Apagar essa linha quando o space-between funcionar*/
}

.pokeShadow {
    position: absolute;
    left: 100px;
    top: 160px;
    z-index: 1;
    }

.dots{

    position: absolute;
    top:30px;
    left: -120px;
}

.pokeballBg {
    position: absolute;
    top:-27px;
    left:199px;
    
    
}